*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%; /* 10px */
    scroll-behavior: smooth;
}

h2 {
    margin-top: 1.5rem;
}

button {
    height: 20%;
    margin: 3rem 1rem 0 1rem;
    color: white;
    background: dodgerblue;
    border: 0;
}

.container {
    display: flex;
}

.box {
    width: 7rem;
    height: 7rem;
    background: rgba(253, 86, 57, 0.9);
    margin: 1rem;
    text-align: center;
    color: white;
}
